#title {
  background-color:#ff4c68;
}

h1 {

  font-size: 3rem;
  line-height: 1.5;

}

h2 {
  font-family: 'Montserrat-bold', sans-serif;
  color: #ffffff;
  font-size: 2rem;
}


.container-fluid {
  padding: 0 5% ;


}

.maintext{
  color: #ffffff;s
    margin-bottom: 10%;
    margin-top: 5%;
    padding-bottom: 50px;

}

.phone-img{
  margin-top: 5%;
  height: 87%;

}


nav{
  font-family: 'Ubuntu', sans-serif;
}

navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}

#features{
  padding: 0 15%;
}

.box{
  text-align: center;
  padding: 5%;
}

h3 {
font-family: 'Montserrat-bold', sans-serif;
color: black;
}

.futers-titel{
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.asher {
  color: #ef8172;
}
.asher:hover{
  color: #ff4c68;
}



#testimonials {
text-align: center;
background-color: #ef8172;

}

.carousel-item {
padding: 7% 15%;
}


.dog-image {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.logos {
  width: 15%;
  padding: 20px 20px 40px;
}

.row{
  text-align: center;
  margin: 6%;
}

.find {
  text-align: center;
  background-color: #ef8172;


}

.bfaind {
  padding: 3rem;
}


.findtext{
    font-family: 'Montserrat-bold', sans-serif;
    color: #ffffff;
    padding-top: 50px;

}

.cheder{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 1.5rem;
}
